body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.view{
  display:flex;
  padding-top:2%;

}

.parentDrone{
  width:100%;
  padding-top: 10%;
  display:flex;
  justify-content: center;
  transform: translateX(-100px) rotateY( 90deg);

}

.drone img {
  width: 100%;

}

.drone{
  width:10%;


}

.batteryStyles{
  width: 10%;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.batteryLevel {
  transition: all 0.5s;
  height: 100%;
  text-align: center;
  color: white;
  display: block;
  background: var(--color);
  background: #70ff00;
}
