body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.view{
  display:flex;
  padding-top:2%;
  width:100%;
  box-sizing: border-box;
  position: relative;
}

.parentDrone{
  padding-top: 10%;
  display:flex;
  justify-content: center;
  position: absolute;
  bottom:15%;
  /* transform: rotate(0deg);  */
}

.drone img {
  width: 100%;
}

.drone{
  width:30px;
}

.batteryStyles{
  width: 10%;
  height:300px;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.batteryLevel {
  transition: all 0.5s;
  height: 100%;
  text-align: center;
  color: white;
  display: block;
  background: var(--color);
  background: #70ff00;
}

.CommandGrid{
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  grid-gap: 3px;
}

.CommandGrid .center{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
}

.CommandGrid h2{
  grid-column: 1 / -1;
  background: #ffc600;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  color: black;
}

.CommandGrid .center button:last-child{
  grid-column: span 2;
}

.CommandGrid   button {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: 0;
  background: #fe2c70;
  border: 4px solid transparent;
  color: white;
  font-size: 1rem;
  position: relative;
}
.CommandGrid button:active{
  top: 2px;
}
.CommandGrid button:focus{
  outline: 0;
  border-color: #ffc600;
}
.CommandGrid button.takeoff{
  background: #41c7ff;
}
.CommandGrid button.land{
  background: #00ff00;
}
.CommandGrid button.emergency{
  background: orange;
  text-transform: uppercase;
  color: black;
}
.CommandGrid button.rotate{
  background: #00fff9;
  color: black;
}
.CommandGrid button.height{
  background: #fff;
  color: black;
}
.CommandGrid button.span.symbol {
  display: block;
  font-size: 2rem;
  font-weight: 400;
}

.CommandGrid button.innactiveBtns{
  pointer-events: none;
  background-color: grey;
  border-color: grey;
}



